.collapsible-textarea {
    height: 80px;         /* Başlangıç boyutu */
    transition: height 0.3s;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.toggle-arrow {
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.collapsed + .toggle-arrow {
    transform: rotate(0deg);
}

.expanded + .toggle-arrow {
    transform: rotate(180deg);
}
