/* DARK MODE */

body[data-theme="dark"] {
    --bg-color: #020202;
    --text-color: #E0E0E0;
    --primary-color: #16DB65;
    --accent-color: #058C42;
    --secondary-bg: #04471C;
}

/* LIGHT MODE */

body[data-theme="light"] {
    --bg-color: #F4F9F4;
    --text-color: #131515;
    --primary-color: #058C42;
    --accent-color: #16DB65;
    --secondary-bg: #04471C;
}

/* Genel kullanım */

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Form alanları */

input.form-control, textarea.form-control {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--primary-color);
}
input.form-control:focus, textarea.form-control:focus {
    border-color: var(--accent-color);
    box-shadow: 0 0 0 0.2rem rgba(0,128,0,0.25);
}

/* Butonlar */

button, .btn {
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: 1px solid var(--primary-color);
}
button:hover, .btn:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--bg-color);
}